<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style>
    table {
      font-family:Gill Sans Extrabold, sans-serif;
      position: center;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 1px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <title>Teachers</title>
  </head>

  <body>
  <center><h3>TEACHER INFO</h3><center><br>
  <a href="/teacher/add"><button type="Submit" name="Add">Add New Teacher</button></a>
  <br><br>
  <form action="/teacher" method="POST">
  <center>
  <table>
    <tr>
      <th><center>ID</center></th>
      <th><center>First Name</center></th>
      <th><center>Last Name</center></th>
      <th><center>Email</center></th>
      <th><center>Subject</center></th>
      <th colspan='2'><center>Option</center></th>
    </tr>
    <% dataTeacher.forEach(teacherData =>{%>
    <tr>
      <td><%= teacherData.id %></td>
      <td><%= teacherData.first_name %></td>
      <td><%= teacherData.last_name %></td>
      <td><%= teacherData.email %></td>

      <% if(teacherData.SubjectId == undefined){ %>
        <td>Unassigned</td>
        <%} else {%>
        <td><%= teacherData.Subject.subject_name%></td>
      <%}%>

      <td><a href="/teacher/edit/<%=teacherData.id%>"><button type="button" name="Edit">EDIT</button></a></td>
      <td><a href="/teacher/delete/<%=teacherData.id%>"><button type="button" name="Delete">DELETE</button></a></td>
      </tr>
      <%})%>
    </table>
  </center>
    </form>
  </body>
</html>
